<div class="mx-20">
  <%= form_with(model: @micropost, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex">
      <div>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose new micropost...", class: "bg-purple-300 rounded w-max focus:animate-spin" %>
        </div>
        <span class="image">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
      </div>
      <%= f.submit "Post", class: "btn btn-primary bg-gradient-to-r from-pink-500 to-yellow-500 text-4xl mx-20 rounded-full hover:animate-spin hover:from-green-400 hover:to-blue-500 font-mono hover:spin hover:animate" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
