<header>
  <div>
    <%= link_to "sample app", root_path %>
    <nav class="fixed right-20 top-50 bg-blue-300 text-4xl animate-pulse font-mono rounded-full">
      <ul class="justify-around my-8">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
