<header>
  <div class="text-white flex justify-between">
    <%= link_to "Sample app", root_path, class: "font-bold text-3xl" %>
    <nav>
      <ul class="flex space-x-2">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
